<div>
<!--    <h2>{{login.id}}</h2>-->
<!--    <h3>{{login.userpassword}}</h3>-->
    <form class="main" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="empId">Employee ID: </label>
        <input id="empID" type = "text" [(ngModel)]="login.id"
        name = "id"
        placeholder="Employee ID">
        <p></p>
        <label for="userpassword">Password: </label>
        <input id="userpassword" type = "password" [(ngModel)]="login.userpassword"
        name = "password"
        placeholder="Password">
        <p></p>
        <button type="submit">Submit</button>

    </form>

</div>
