h1 {
    text-align: center;
    color: greenyellow;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 0.8em 0.7em 0 0.7em;
    min-width: 16px;
    border-radius: 10px;
    margin: 6em 2em  2em 2em;
    padding: 1em 9em;
}

